@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url(//db.onlinewebfonts.com/c/4f1c0acc06ffec914158fe07e208b731?family=Segoe+MDL2+Assets);

body {
  background: rgb(45, 45, 45) !important;
  overflow: hidden;
}

* {
  color: white;
  cursor: default;
  font-family: 'Montserrat', sans-serif;
}

#sidebar {
  width: 100%;
  height: 45;
  background: rgb(65, 65, 65);
  border: 1px rgb(70, 70, 70) solid;

  box-shadow: 0 0 7px rgb(36, 36, 36);
}

.sb-btn {
  z-index: 33; /* ZINDEX HANDLER */
  user-select: none;
  margin: 7px 2px 2px 2px;
  border: rgb(65, 65, 65) 1px solid;
  background: none;
  cursor: pointer;
  transition-duration: 0.1s;
  outline: none;
  border-radius: 7px;
  color: rgb(172, 172, 172) !important;
  height: 30px;
  width: 80px;
}

.sb-btn:hover {
  background: rgb(78, 78, 78);
  border: rgb(95, 95, 95) 1px solid;
}

.sb-btn:active {
  background: rgb(79, 79, 150);
  border: 1px rgb(79, 79, 150) solid;
}


#sidebar-status {
  pointer-events: none;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Blanco.svg/120px-Blanco.svg.png');
  width: 100%;
  height: 40;
  text-align: center;
  position: absolute;
  padding-top: 4px;
}

#sidebar-status-txt,
.glyphicon {
  padding-top: 8px;
  z-index: 35;
  user-select: none;
  color: rgb(21, 187, 21);
  text-shadow: 0 0 5px green;
}

#files {
  position: absolute;
  border-top: none;
  display: inline-block;
  border: 1px rgb(70, 70, 70) solid;
  z-index: 50;
  height: 100%;
  padding-top: -15px;
  width: 300px;
  background: rgb(55, 55, 55);
}

.fl-btn {
  width: 298px;
  border: none;
  height: 30px;
  background: rgb(60, 60, 60);
  color: rgb(200, 200, 200);
  font-family: Menlo,Cascadia Mono,Consolas,Liberation Mono,monospace;
  text-align: left;
  font-size: 12.5px;
}

svg, path {
  cursor: pointer;
}

.fl-btn:hover {
  background: rgb(78, 78, 78);
  user-select: none;
}


.main-sb-btn {
  padding-left: 16.5px;
  font-size: larger;
  color: rgb(97, 97, 245);
  text-shadow: none;
  padding-right: 8px;
  transition-duration: 0.1s;
}

.main-sb-btn:hover {
  font-size: larger;
}

.main-sb-btn:hover::before {
  font-family: 'Montserrat', sans-serif;
  content: ' Dashboard ';
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  text-shadow: 0 0 4px rgb(25, 179, 226);
}

i {
  user-select: none;
}

/* MAIN ACTION SIDEBAR */
#action-sidebar {
  z-index: 20;
  display: inline-block;
  background: rgb(49, 49, 49);
  height: 100%;
  width: 50px;
}

.as-btn {
  border: none;
  outline: none;
  background: none;
  color: rgb(190, 190, 190);
  font-size: 25px;
  display: inline-block;
  height: 50px;
  width: 50px;
  transition-duration: 0.1s;
}

.as-btn:hover {
  color: white;
  background: rgb(58, 58, 58);
}

.as-btn:active {
  background: rgb(73, 73, 145);
}
.sb-btn-gly {
  padding-top: 0!important;
}

#main {
  border: red 1px solid;
  width: 80%;
  height:90%;
  float: left;
}